* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'brandon grotesque';
	font-size: 16px;
}

h1, h2, h3 {
	font-family: 'Adobe Garmond Pro';
	font-style: italic;
}

h1 {
	font-size: 52px;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.padding-right {
	padding-right: 16px !important;
}

.padding-left {
	padding-left: 16px !important;
}

// no empty fields will get displayed.
section#taku-contact-info >* :empty, img[src=""], .asymmetrical_content_wrap >* h2:empty {
   display: none !important;
}

//IMAGES THROUGH WORDPRESS
a {
	img.size-full {
		width: 100%;
		height: auto;
	}
	img.size-large {
		width: 75%;
		height: auto;
	}
	img.size-medium {
		width: 25%;
		height: auto;
	}
	img.size-thumbnail {
		width: 10%;
		height: auto;
	}
}

//BOOK NOW BUTTON
#booknow_button {
	z-index: -1;
	position: absolute;
	top:100%;
	right:0;
	height:79px;
	width:131px;
	background-color: #E3912C;
	div {
		position: relative;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
	
		a {
			text-align: center;
			font-family: 'Adobe Garmond Pro';
			font-style: italic;
			width: 100%;
			height:79px;
			line-height: 79px;
			text-align: center;
			font-size: 130%;
			border-bottom: 4px solid #fff;
			border-left: 4px solid #fff;
			border-right: 4px solid #fff;
			color: #fff;
			background: #E3912C;
			text-decoration: none;
			-webkit-transition: all .35s;
			transition: all .35s;
			&:visited {
				color: #fff;
			}
			&:hover {
				text-decoration: none;
				border-bottom: 4px solid #fff;
				border-left: 4px solid #fff;
				border-right: 4px solid #fff;
				background: #34373F;
			}
			&:active {
				text-decoration: none;
			}
		}
	}
}

//FORM STUFF
.ccf-form-complete {
	width: 100%;
	color: green;
	font-size: 150%;
	font-weight: lighter;
	padding: 50px;
}