* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'brandon grotesque';
	font-size: 16px;
}

h1, h2, h3 {
	font-family: 'Adobe Garmond Pro';
	font-style: italic;
}

h1 {
	font-size: 52px;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.padding-right {
	padding-right: 16px !important;
}

.padding-left {
	padding-left: 16px !important;
}

#taku-map {
	padding-top: 32px;
	width: 100%;
	height: auto
}

section#taku-contact-info >* :empty, img[src=""], .asymmetrical_content_wrap >* h2:empty {
   display: none !important;
}