#experiences {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
	
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
	text-align: center;
}

#experiences > * {
  	flex: 1 auto;
}

.experience_container {
	position: relative;
	width: 25%;
	height: 400px;
	overflow: hidden;
	-webkit-transition: all .8s ease-in-out; /* Safari */
    transition: all .8s ease-in-out;
	h2 {
		font-size: 42px;
	}
	.experience_inner_content p {
		filter: alpha(opacity=01);
		opacity: 0.01;
		display: block;
		margin-bottom: 0;
	}
}

.experience_container.expanded {
	// height: 800px;
	-webkit-transition: all .8s ease-out; /* Safari */
	transition: all .8s ease-out;
	.experience_inner_content p {
		filter: alpha(opacity=100);
  		opacity: 1;
  		-webkit-transition: all .8s ease-out; /* Safari */
    	transition: all .8s ease-out;
	}
}

.experience_container a.experience_link_ep, 
.experience_container a.experience_link:hover {
	z-index:10; 
	width: 100%;
	text-decoration: none;
}

.inner_experience_wrap {
	position: relative;
 	display: -webkit-flex;
   	display: flex;
   	-webkit-flex-direction: column; /* works with row or column */
   	flex-direction: column;
  	-webkit-align-items: center;
  	align-items: center;
  	-webkit-justify-content: flex-end;
   	justify-content: flex-end;
	overflow: hidden;
	min-height: 400px;
	max-height: 500px;
	background-size: cover;
	background-position: center center;
}

.experience_title_ep {
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	color: #ffffff;
	// text-transform: uppercase; // Unsure about this.
	z-index: 5;
	-webkit-transition: transform .45s;
    transition: transform .45s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

a.experience_link_ep:hover .experience_title_ep  {
	-webkit-transform: translate3d(0,-60px,0);
	transform: translate3d(0,-60px,0);
}

.experience_title_ep span {
	position: relative;
	height: 2px;
	padding-bottom: 8px;
    border-bottom: 2px solid #fff;
   	border-bottom-color: transparent;
   	-webkit-transition: border-bottom-color .45s, padding-bottom .45s;
    transition: border-bottom-color .45s, padding-bottom .45s;
}

a.experience_link_ep:hover .experience_title_ep span {
	padding-bottom: 2px;
	border-bottom-color: #fff;
}

.experience_description {
	width: 50%;
	text-align: center;
	color: #ffffff;
	font-size: 1.2em;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: lighter;
	z-index: 5;
	-webkit-transition: transform .35s, opacity .35s;
    transition: transform .35s, opacity .35s;
	opacity: 0;
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

a.experience_link_ep:hover .experience_description {
	opacity: 1;
	-webkit-transform: translate3d(0,-75%,0);
    transform: translate3d(0,-75%,0);
} 

a.experience_link_ep div.inner_experience_wrap::before {
	content: '';
	cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: transform .35s, opacity .35s;
    transition: transform .35s, opacity .35s;
    opacity: 0;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 75%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 75%);
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}

a.experience_link_ep:hover div.inner_experience_wrap::before {
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}

// NEW

 .experience_inner_content {
 	position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
 	top: 0;
 	width: 100%;
 	background-color: #fff;
 	-webkit-flex-direction: row; /* works with row or column */
   	flex-direction: row;
 		p {
 			font-size: 20px;
 			padding: 32px;
    		text-align: left;
 			width: 100%;
 	 	}
 }

 .experience_tab {
 	width: 100%;
 	position: absolute;
 	top: 1px;
 	color: #fff;
 	font-size: 152px;
 	text-align: center;
 	z-index: -10;
 	-webkit-transition: all .5s;
    transition: all .5s;
 }

 .experience_container.expanded .experience_inner_content .experience_tab {
 	top: -56px;
 	z-index: 10;
 }