#banner-title {
	color: #fff !important;
	font-size: 700%;
	z-index: 10px;
	width: 100%;
	text-align: center;
}

#full-banner-page-banner {
	position: relative;
 	display: -webkit-flex;
   	display: flex;
   	-webkit-flex-direction: column; /* works with row or column */
   	flex-direction: column;
  	-webkit-align-items: center;
  	align-items: center;
  	-webkit-justify-content: center;
   	justify-content: center;
	width: 100%;
	height: 1000px;
	background-size: cover;
	background-position: center center;
}

#half-banner-page-banner {
	width: 100%;
	height: 750px;
	background-size: cover;
	background-position: center center;
}

#taku-videos iframe {
	width: 46.5%;
	padding: 16px 0;
	padding-left: 3.5%;
	margin-left: 1%;
	height: 300px;
}