/*------------------------------------------
  Responsive Grid Media Queries - 1800, 1280, 1024, 768, 480
   1800-1280   - massive desktop
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1281px) and (max-width: 1800px) {

	#half-banner-page-banner {
		h1.half_banner_content_title {
			font-size: 400%;
		}
	}

	//SPECIFIC STYLES FOR POSTS
		// SELECT BOX STYLES FOR EXPERIENCES
	.experience-select-box {
		position: relative;
	    padding: 16px;
	   	margin: 0;
	    font-size: 24px;
	    line-height: 100%;
	    width: 100%;
	    height: 58px;
	}

	.experience-select-box select {
		width: 20%;
		padding-left: 8px;
	}
	.experience_container {
		position: relative;
		width: 25%;
	}

	//IMAGES THROUGH WORDPRESS
	a {
		img.size-full {
			width: 100%;
			height: auto;
		}
		img.size-large {
			width: 75%;
			height: auto;
		}
		img.size-medium {
			width: 50%;
			height: auto;
		}
		img.size-thumbnail {
			width: 25%;
			height: auto;
		}
	}
}

/* 	--------------------------------------------
	-------------------BREAK--------------------
	--------------------------------------------  */

@media all and (min-width: 1024px) and (max-width: 1280px) {
	// HALF-BANNER
	#half-banner-page-banner {
		height: 450px;
		h1.half_banner_content_title {
			font-size: 350%;
		}
	}

	// FULL-BANNER
	#full-banner-page-banner {
		height: 600px;
	}

	//HOME - SLIDER
	.bx-wrapper ul li div.story.wrapper {

		img#taku-brand-logo {

		}

		p {
			font-size: 36px;
		}
	}

	// HOME - EXPERIENCE PORTALS
	.experience_portal {
		width: 50%;
		max-height: 600px;
		h2 {
			font-size: 42px;
		}
	}

	.experience_description {
		width: 70%;
	}

	.experience_container {
		width: 33%;
		.experience_title_ep {
			font-size: 48px;
		}
	}

	//SPECIFIC STYLES FOR POSTS
		// SELECT BOX STYLES FOR EXPERIENCES
	.experience-select-box {
		position: relative;
	    padding: 16px;
	   	margin: 0;
	    font-size: 24px;
	    line-height: 100%;
	    width: 100%;
	    height: 58px;
	}

	.experience-select-box select {
		width: 20%;
		padding-left: 8px;
	}

	// FOOTER
	footer div.container {
		height: 200px
	}
	footer div.container section.widget.acf_widget_114-3.acf_widget_114.Acf_Widget_114 {
		a {
			max-width: 55%;
		}
	}

	//IMAGES THROUGH WORDPRESS
	a {
		img.size-full {
			width: 100%;
			height: auto;
		}
		img.size-large {
			width: 75%;
			height: auto;
		}
		img.size-medium {
			width: 25%;
			height: auto;
		}
		img.size-thumbnail {
			width: 10%;
			height: auto;
		}
	}
}

/* 	--------------------------------------------
	-------------------BREAK--------------------
	--------------------------------------------  */

@media all and (min-width: 768px) and (max-width: 1024px) {
	nav div ul.nav li a {
		font-size: 15.5px;
		padding-left: 12px;
		padding-right: 12px;
	}

	// HALF-BANNER
	#half-banner-page-banner {
		height: 400px;
		h1.half_banner_content_title {
			font-size: 300%;
		}
		h1.half_banner_content_title.experience_specific_title {
			font-size: 300%;
		}
	}

	// FULL-BANNER
	#full-banner-page-banner {
		height: 400px;
		h1#banner-title {
			font-size:500%;
		}
	}

	//HOME - SLIDER
	.bx-wrapper ul li div.story.wrapper {

		img#taku-brand-logo {

		}

		p {
			font-size: 36px;
		}
	}

	// HOME - EXPERIENCE PORTALS
	.experience_portal {
		width: 100%;
		max-height: 600px;
		h2 {
			font-size: 30px;
		}
	}

	.experience_container {
		width: 100%;

		.experience_title_ep {
			font-size: 48px;
		}
	}

	#taku_home_video {
		width: 100%;
		height: 480px;
		iframe {
			width: 100%;
			height: 480px;
		}
	}

	// FOOTER
	footer div.container {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-flex-direction: column; /* works with row or column */
		flex-direction: column;
		height: 500px
	}
	footer div.container section.widget {
		flex: auto;
	}
	footer div.container section.widget.acf_widget_114-3.acf_widget_114.Acf_Widget_114 {
		a {
			max-width: 40%;
		}
	}

	// ********** SPECIFIC PAGES *********** //

	// TAKU CONTACT PAGE

	#taku-contact-info, .generic_content_wrap, .asymmetrical_content_wrap {
		-webkit-flex-direction: column;
		flex-direction: column;
		.contact-info,
		.generic_content_full,
		.generic_content_left, 
		.generic_content_right,
		.asymmetrical_content_left, 
		.asymmetrical_content_right  {
			text-align: center;
			.contact-content {
				.contact-content-row {
					-webkit-flex-direction: column;
					flex-direction: column;
					.contact-info-title {
						width: 100%;
					}
					.contact-info-content {
						width: 100%;
						font-size: 150%;
						margin-bottom: 0px;
					}	
				}
			}
		}
		.generic_content_left, 
		.generic_content_right,
		.asymmetrical_content_left, 
		.asymmetrical_content_right {
			text-align: left;
		}
	}

	// SPECIFIC STYLES FOR ASYMMETRICAL TEMPLATES
	.asymmetrical_content_wrap {
		div {
			img.half-width-images {
				width: 100%;
			}
		}
		.asymmetrical_inner_content_wrap {
			-webkit-flex-direction: column;
			flex-direction: column;
		}
	}

	//SPECIFIC STYLES FOR POSTS
		// SELECT BOX STYLES FOR EXPERIENCES
	.experience-select-box {
		position: relative;
	    padding: 16px;
	   	margin: 0;
	    font-size: 18px;
	    line-height: 100%;
	    width: 100%;
	    height: 50px;
	}

	.experience-select-box select {
		width: 20%;
		padding-left: 8px;
	}

	div.ccf-form-wrapper.form-id-223 {
		form.ccf-form {
			.taku-contact-form-field,
			.taku-contact-form-comment {
				width: 100%;
				padding: 0;
			}
		}
	}

	// ***** GLOBAL STYLES ***** //
	.padding-right {
		padding-right: 0px !important;
	}

	.padding-left {
		padding-left: 0px !important;
	}

	//IMAGES THROUGH WORDPRESS
	a {
		img.size-full {
			width: 100%;
			height: auto;
		}
		img.size-large {
			width: 75%;
			height: auto;
		}
		img.size-medium {
			width: 50%;
			height: auto;
		}
		img.size-thumbnail {
			width: 25%;
			height: auto;
		}
	}

	//FLEX ORDER
	.order-forward {
	  	order: 1;
	}

	.order-back {
	  	order: 5;
	}

	//BOOK NOW BUTTON
	#booknow_button {
		height:60px;
		width:140px;
		div {
			a {
				text-align: center;
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				width: 100%;
				height:60px;
				min-width: 140px;
				line-height: 60px;
				font-size: 140%;
			}
		}
	}

	//FORM STUFF
	.ccf-form-complete {
		width: 100%;
		color: green;
		font-size: 100%;
		font-weight: lighter;
		padding: 18px;
	}

}

/* 	--------------------------------------------
	-------------------BREAK--------------------
	--------------------------------------------  */

@media all and (min-width: 480px) and (max-width: 768px) {
	// HEADER
	#menu-primary-navigation {
		width: 100%;
	}

	.nav-wrap {
		background-color: #343741;
	}
	.navbar-brand img {
		position: relative;
		&:hover {
			top: 0;
		}
	}
	nav.navbar-collapse div.menu-primary-navigation-container ul li {
		text-align: center;
		border-bottom: 1px solid;
		&:hover, :active {
			background-color: #ececec;
		}
	}

	// HALF-BANNER
	#half-banner-page-banner {
		height:250px;
		h1.half_banner_content_title {
			font-size: 225%;
		}
	}
	// FULL-BANNER
	#full-banner-page-banner {
		height: 250px;
		h1#banner-title {
			font-size:400%;
		}
	}

	//HOME - SLIDER
	.bx-wrapper ul li div.story.wrapper {

		img#taku-brand-logo {

		}

		p {
			font-size: 28px;
		}
	}

	// HOME - EXPERIENCE PORTALS
	.experience_portal {
		width: 100%;
		max-height: 400px;
		h2 {
			font-size: 30px;
		}
	}

	.experience_container {
		width: 100%;

		.experience_title_ep {
			font-size: 46px;
		}
	}

	#taku_home_video {
		width: 100%;
		height: 320px;
		iframe {
			width: 100%;
			height: 320px;
		}
	}

	// FOOTER
	footer div.container {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-flex-direction: column; /* works with row or column */
		flex-direction: column;
		height: 500px;
	}
	footer div.container section.widget {
		flex: auto;
	}
	footer div.container section.widget.acf_widget_114-3.acf_widget_114.Acf_Widget_114 {
		a {
			max-width: 40%;
		}
	}

	// ********** SPECIFIC PAGES *********** //

	// TAKU MEDIA
	#taku-videos iframe {
		width: 100%;
		padding: 16px;
		padding-left: 16px;
		margin-left: 0;
		height: 500px;
	}

	// TAKU CONTACT PAGE

	#taku-contact-info, .generic_content_wrap, .asymmetrical_content_wrap {
		-webkit-flex-direction: column;
		flex-direction: column;
		.contact-info,
		.generic_content_full,
		.generic_content_left, 
		.generic_content_right,
		.asymmetrical_content_left, 
		.asymmetrical_content_right  {
			text-align: center;
			.contact-content {
				.contact-content-row {
					-webkit-flex-direction: column;
					flex-direction: column;
					.contact-info-title {
						width: 100%;
					}
					.contact-info-content {
						width: 100%;
						font-size: 150%;
						margin-bottom: 0px;
					}	
				}
			}
		}
		.generic_content_left, 
		.generic_content_right,
		.asymmetrical_content_left, 
		.asymmetrical_content_right {
			text-align: left;
		}
	}

	// SPECIFIC STYLES FOR ASYMMETRICAL TEMPLATES
	.asymmetrical_content_wrap {
		div {
			img.half-width-images {
				width: 100%;
			}
		}
		.asymmetrical_inner_content_wrap {
			-webkit-flex-direction: column;
			flex-direction: column;
		}
	}

	//SPECIFIC STYLES FOR POSTS
		// SELECT BOX STYLES FOR EXPERIENCES
	.experience-select-box {
		position: relative;
	    padding: 8px;
	   	margin: 0;
	    font-size: 16px;
	    line-height: 100%;
	    width: 100%;
	    height: 30px;
	    border-top: 2px solid #ccc;
	    border-bottom: 2px solid #ccc;
	}

	.experience-select-box select {
		width: 100%;
		padding-left: 8px;
	}

	div.ccf-form-wrapper.form-id-223 {
		form.ccf-form {
			.taku-contact-form-field,
			.taku-contact-form-comment {
				width: 100%;
				padding: 0;
			}
		}
	}

	// ***** GLOBAL STYLES ***** //
	.padding-right {
		padding-right: 0px !important;
	}

	.padding-left {
		padding-left: 0px !important;
	}

	//IMAGES THROUGH WORDPRESS
	a {
		img.size-full {
			width: 100%;
			height: auto;
		}
		img.size-large {
			width: 100%;
			height: auto;
		}
		img.size-medium {
			width: 50%;
			height: auto;
		}
		img.size-thumbnail {
			width: 25%;
			height: auto;
		}
	}

	//FLEX ORDER
	.order-forward {
	  	order: 1;
	}

	.order-back {
	  	order: 5;
	}

	//BOOK NOW BUTTON
	#booknow_button {
		height:40px;
		width:120px;
		div {
			a {
				text-align: center;
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				width: 100%;
				height:40px;
				min-width: 120px;
				line-height: 40px;
				font-size: 100%;
				border-bottom: 2px solid #E3912C;
				border-left: 2px solid #E3912C;
				border-right: 2px solid #E3912C;
				&:hover {
					color: #343741;
					text-decoration: none;
					border-bottom: 2px solid #343741;
					border-left: 2px solid #343741;
					border-right: 2px solid #343741;
					background: #fff;
				}
			}
		}
	}
	//FORM STUFF
	.ccf-form-complete {
		width: 100%;
		color: green;
		font-size: 100%;
		font-weight: lighter;
		padding: 18px;
	}
}

/* 	--------------------------------------------
	-------------------BREAK--------------------
	--------------------------------------------  */

@media all and (max-width: 480px) {
	// HEADER
	#menu-primary-navigation {
		width: 100%;
	}

	.nav-wrap {
		background-color: #343741;
	}
	.navbar-brand img {
		position: relative;
		&:hover {
			top: 0;
		}
	}
	nav.navbar-collapse div.menu-primary-navigation-container ul li {
		text-align: center;
		border-bottom: 1px solid;
		&:hover, :active {
			background-color: #ececec;
		}
	}

	// HALF-BANNER
	#half-banner-page-banner {
		height: 200px;
		h1.half_banner_content_title {
			font-size: 200%;
		}
	}
	// FULL-BANNER
	#full-banner-page-banner {
		height: 200px;
		h1#banner-title {
			font-size:250%;
		}
	}

	//HOME - SLIDER
	.bx-wrapper ul li div.story.wrapper {
		min-height: 400px;

		-webkit-justify-content: flex-start;
		justify-content: flex-start;

		img#taku-brand-logo {
			padding: 10% 0 5% 0;
			width: 40%;
		}

		p {
			width: 90%;
			padding: 0 5%;
			font-size: 20px;
		}
		.story-text {
			margin-top: 35%;
		}
		.story-text.first-story-text {
			margin-top: 2.5%;
		}
	}

	// HOME - EXPERIENCE PORTALS
	.experience_portal {
		width: 100%;
		max-height: 400px;
		h2 {
			font-size: 30px;
		}
	}
	.experience_description {
		width: 90%;
		padding: 2%;
		font-size: 80%;
	}
	a.experience_link:hover .experience_description {
		-webkit-transform: translate3d(0,-50%,0);
	    transform: translate3d(0,-50%,0);
	}

	.experience_container {
		width: 100%;
	}

	#taku_home_video {
		width: 100%;
		height: 240px;
		iframe {
			width: 100%;
			height: 240px;
		}
	}
	
	// FOOTER
	footer div.container {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-flex-direction: column; /* works with row or column */
		flex-direction: column;
		height: 500px;
	}

	footer div.container section.widget {
		flex: auto;
	}
	footer div.container section.widget.acf_widget_114-3.acf_widget_114.Acf_Widget_114 {
		a {
			max-width: 40%;
		}
	}
	footer div.container section.widget.nav_menu-2.widget_nav_menu {
		ul {
			margin-left: 15%;
		}
		li {
			flex: 1 0 50%;
		}
	}
	footer div.container section.widget.acf_widget_147-2.acf_widget_147.Acf_Widget_147 {
	   	i {
	   		font-size: 36px;
	   		padding: 12px;
	   	}
	}

	// ********** SPECIFIC PAGES *********** //

	// TAKU MEDIA
	#taku-videos iframe {
		width: 100%;
		padding: 16px;
		padding-left: 16px;
		margin-left: 0;
		height: 300px;
	}

	// TAKU CONTACT PAGE

	#taku-contact-info, .generic_content_wrap, .asymmetrical_content_wrap {
		-webkit-flex-direction: column;
		flex-direction: column;
		.contact-info,
		.generic_content_full,
		.generic_content_left, 
		.generic_content_right,
		.asymmetrical_content_left, 
		.asymmetrical_content_right {
			text-align: center;
			.contact-content {
				.contact-content-row {
					-webkit-flex-direction: column;
					flex-direction: column;
					.contact-info-title {
						width: 100%;
					}
					.contact-info-content {
						width: 100%;
						font-size: 150%;
						margin-bottom: 0px;
					}	
				}
			}
		}
		.generic_content_left, 
		.generic_content_right,
		.asymmetrical_content_left, 
		.asymmetrical_content_right {
			text-align: left;
		}
	}

	// SPECIFIC STYLES FOR ASYMMETRICAL TEMPLATES
	.asymmetrical_content_wrap {
		div {
			img.half-width-images {
				width: 100%;
			}
		}

		.asymmetrical_inner_content_wrap {
			padding-top: 16px;
			-webkit-flex-direction: column;
			flex-direction: column;
		}
	}

	//SPECIFIC STYLES FOR POSTS
		// SELECT BOX STYLES FOR EXPERIENCES
	.experience-select-box {
		position: relative;
	    padding: 8px;
	   	margin: 0;
	    font-size: 14px;
	    line-height: 100%;
	    width: 100%;
	    height: 30px;
	   	border-top: 2px solid #ccc;
	   	border-bottom: 2px solid #ccc;
	}

	.experience-select-box select {
		width: 100%;
		padding-left: 8px;
	}

	div.ccf-form-wrapper.form-id-223 {
		form.ccf-form {
			.taku-contact-form-field,
			.taku-contact-form-comment {
				width: 100%;
				padding: 0;
			}
		}
	}

	// ***** GLOBAL STYLES ***** //
	.padding-right {
		padding-right: 0px !important;
	}

	.padding-left {
		padding-left: 0px !important;
	}

	//IMAGES THROUGH WORDPRESS
	a {
		img.size-full {
			width: 100%;
			height: auto;
		}
		img.size-large {
			width: 100%;
			height: auto;
		}
		img.size-medium {
			width: 75%;
			height: auto;
		}
		img.size-thumbnail {
			width: 25%;
			height: auto;
		}
	}

	//FLEX ORDER
	.order-forward {
	  	order: 1;
	}

	.order-back {
	  	order: 5;
	}

	//BOOK NOW BUTTON
	#booknow_button {
		height:30px;
		width:90px;
		div {
			a {
				text-align: center;
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				width: 100%;
				min-width: 90px;
				height:30px;
				line-height: 30px;
				font-size: 100%;
				border-bottom: 2px solid #E3912C;
				border-left: 2px solid #E3912C;
				border-right: 2px solid #E3912C;
				&:hover {
					color: #343741;
					text-decoration: none;
					border-bottom: 2px solid #343741;
					border-left: 2px solid #343741;
					border-right: 2px solid #343741;
					background: #fff;
				}
			}
		}
	}

	//FORM STUFF
	.ccf-form-complete {
		width: 100%;
		color: green;
		font-size: 100%;
		font-weight: lighter;
		padding: 12px;
	}

	//ACCOMMODATION GALLERY 
	.accommodation_gallery_wrap {
		-webkit-flex-direction: row;
		flex-direction: row;
		flex-wrap: wrap;
		.accommodation_gallery_object {
			width: 50%;
			padding: 16px;
		}
	}

}


/* Portrait */
@media screen and (orientation:portrait) {

}

/* Landscape */
@media screen and (orientation:landscape) {
	// div.wrap {
	// 	display: none;
	// 	visibility: hidden;
	// }
	// body::before {
	// 	content: "This website was designed for Portrait Orientation only.";
	// 	width: 100%;
	// 	text-align: center;
	// }
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {

}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {

} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {

}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {

}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {

}