/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
	//HOME - SLIDER
	.bx-wrapper ul li div.story.wrapper {

		img#taku-brand-logo {

		}

		p {
			font-size: 36px;
		}
	}

	// HOME - EXPERIENCE PORTALS
	.experience_portal {
		width: 50%;
		max-height: 600px;
		h2 {
			font-size: 42px;
		}
	}

	// FOOTER
	footer div.container {
		height: 200px
	}
	footer div.container section.widget.acf_widget_114-3.acf_widget_114.Acf_Widget_114 {
		a {
			max-width: 55%;
		}
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	//HOME - SLIDER
	.bx-wrapper ul li div.story.wrapper {

		img#taku-brand-logo {

		}

		p {
			font-size: 36px;
		}
	}

	// HOME - EXPERIENCE PORTALS
	.experience_portal {
		width: 100%;
		max-height: 600px;
		h2 {
			font-size: 30px;
		}
	}

	// FOOTER
	footer div.container {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-flex-direction: column; /* works with row or column */
		flex-direction: column;
		height: 500px
	}
	footer div.container section.widget {
		flex: auto;
	}
	footer div.container section.widget.acf_widget_114-3.acf_widget_114.Acf_Widget_114 {
		a {
			max-width: 40%;
		}
	}
}

@media all and (min-width: 480px) and (max-width: 768px) {
	//HOME - SLIDER
	.bx-wrapper ul li div.story.wrapper {

		img#taku-brand-logo {

		}

		p {
			font-size: 36px;
		}
	}

	// HOME - EXPERIENCE PORTALS
	.experience_portal {
		width: 100%;
		max-height: 400px;
		h2 {
			font-size: 30px;
		}
	}

	// FOOTER
	footer div.container {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-flex-direction: column; /* works with row or column */
		flex-direction: column;
		height: 500px;
	}
	footer div.container section.widget {
		flex: auto;
	}
	footer div.container section.widget.acf_widget_114-3.acf_widget_114.Acf_Widget_114 {
		a {
			max-width: 40%;
		}
	}
}

@media all and (max-width: 480px) {
	//HOME - SLIDER
	.bx-wrapper ul li div.story.wrapper {
		min-height: 400px;

		-webkit-justify-content: flex-start;
		justify-content: flex-start;

		img#taku-brand-logo {
			padding: 10% 0 5% 0;
			width: 40%;
		}

		p {
			width: 100%;
			padding: 0 5%;
			font-size: 24px;
		}
	}

	// HOME - EXPERIENCE PORTALS
	.experience_portal {
		width: 100%;
		max-height: 400px;
		h2 {
			font-size: 30px;
		}
	}
	.experience_description {
		width: 100%;
		padding: 2%;
	}
	a.experience_link:hover .experience_description {
		-webkit-transform: translate3d(0,-175%,0);
	    transform: translate3d(0,-175%,0);
	} 
	
	// FOOTER
	footer div.container {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-flex-direction: column; /* works with row or column */
		flex-direction: column;
		height: 500px;
	}

	footer div.container section.widget {
		flex: auto;
	}
	footer div.container section.widget.acf_widget_114-3.acf_widget_114.Acf_Widget_114 {
		a {
			max-width: 40%;
		}
	}
	footer div.container section.widget.nav_menu-2.widget_nav_menu {
		ul {
			margin-left: 15%;
		}
		li {
			flex: 1 0 50%;
		}
	}
	footer div.container section.widget.acf_widget_147-2.acf_widget_147.Acf_Widget_147 {
	   	i {
	   		font-size: 36px;
	   		padding: 12px;
	   	}
	}
}


/* Portrait */
@media screen and (orientation:portrait) {

}

/* Landscape */
@media screen and (orientation:landscape) {
	div.wrap {
		display: none;
		visibility: hidden;
	}
	body::before {
		content: "This website was designed for Portrait Orientation only.";
		width: 100%;
		text-align: center;
	}
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {

}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {

} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {

}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {

}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {

}